@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Playfair+Display:wght@400;500;600;700&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  padding: 0 30px;
}

p {
  color: #38414c;
  font-family: "Inter", sans-serif;
}

.arrow-up {
  display: none;
  position: fixed;
  bottom: 3px;
  right: 0;
  z-index: 1000;
}
.arrow-up .arrow-up-img {
  width: 68px;
  filter: drop-shadow(#000 0px 0px 10px);
}

@media all and (min-width: 576px) {
  section {
    padding: 0 60px;
  }
}
.btn {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 22px;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -110px;
  width: 160%;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.381);
  z-index: 0;
  transform: rotate(-45deg);
  transition: all 0.5s;
}
.btn:hover::after {
  left: 80px;
}

#header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: rgb(0, 0, 0) 0px 0px 60px;
  z-index: 1000;
}
#header .navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
#header .navigation-container .logo-container {
  display: flex;
  justify-content: start;
  align-items: center;
}
#header .navigation-container .logo-container .logo {
  width: 80px;
  height: 80px;
  margin-left: -15px;
}
#header .navigation-container .logo-container .logo-description {
  color: #000b16;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
#header .navigation-container .nav-container {
  display: flex;
  justify-content: end;
}
#header .navigation-container .nav-container .hamburger-menu {
  margin-left: 15px;
  font-size: 30px;
  color: #588ABD;
  position: relative;
  z-index: 10;
}
#header .navigation-container .nav-container .hamburger-menu:hover {
  cursor: pointer;
}
#header .navigation-container .nav-container .color-change {
  color: #fff;
}
#header .navigation-container .nav-container .navigation .nav-list {
  display: none;
  position: fixed;
  text-align: right;
  top: 0;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 50px;
  padding-top: 80px;
  padding-bottom: 30px;
  padding-right: 30px;
  background-image: linear-gradient(transparent, #588ABD 70%, transparent);
  z-index: 0;
}
#header .navigation-container .nav-container .navigation .nav-list .nav-item {
  line-height: 30px;
}
#header .navigation-container .nav-container .navigation .nav-list .nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #fff;
  transition: all 0.5s;
}
#header .navigation-container .nav-container .navigation .nav-list .nav-item a:hover {
  cursor: pointer;
  font-weight: 700;
  text-shadow: #fff 0px 0px 12px;
}
#header .navigation-container .nav-container .navigation .unfolded-menu {
  display: block;
}

@media all and (min-width: 576px) {
  #header {
    padding: 0 30px;
  }
  #header .navigation-container .nav-container .navigation .nav-list {
    padding-right: 60px;
  }
}
@media all and (min-width: 992px) {
  #header .navigation-container .nav-container .hamburger-menu {
    display: none;
  }
  #header .navigation-container .nav-container .navigation .nav-list {
    display: block;
    position: fixed;
    padding-right: 30px;
    padding-top: 25px;
    background-image: none;
  }
  #header .navigation-container .nav-container .navigation .nav-list .nav-item {
    display: inline-block;
    margin: 0 20px;
    line-height: 30px;
  }
  #header .navigation-container .nav-container .navigation .nav-list .nav-item a {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #000b16;
    transition: all 0.5s;
    position: relative;
  }
  #header .navigation-container .nav-container .navigation .nav-list .nav-item a::after {
    content: "";
    width: 60%;
    height: 1px;
    background-color: #000b16;
    position: relative;
    display: block;
    opacity: 0;
    left: -10px;
    transition: all 0.3s;
  }
  #header .navigation-container .nav-container .navigation .nav-list .nav-item a:hover {
    cursor: pointer;
  }
  #header .navigation-container .nav-container .navigation .nav-list .nav-item a:hover::after {
    opacity: 1;
    left: 12px;
  }
}
#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: rgba(0, 0, 0, 0.436) 0px 0px 50px;
}
#footer span {
  font-family: "Playfair Display", serif;
  color: #588ABD;
  font-weight: 800;
}
#footer .footer-content {
  color: #000b16;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

@media all and (min-width: 576px) {
  #footer {
    padding: 0 60px;
  }
}
#home {
  height: 100vh;
  background-image: url("../resources/home-page-img.jpg");
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
  align-items: end;
}
#home .scroll-down {
  width: 100px;
  filter: drop-shadow(#000 0px 0px 4px);
}
#home .scroll-down:hover {
  cursor: pointer;
}

#about {
  margin: 40px auto;
  text-align: center;
}
#about .about-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: "Playfair Display", serif;
  color: #588ABD;
  font-size: 20px;
  border: 2px solid #588ABD;
  padding: 10px;
  width: 100px;
  position: relative;
}
#about .about-heading::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #588ABD;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}
#about .about-heading:hover {
  cursor: pointer;
}
#about .about-heading:hover::after {
  top: 5px;
  left: 5px;
}
#about .about-content .about-description {
  margin-top: 10px;
  text-align: left;
}
#about .about-content .about-img {
  width: 100%;
}

@media all and (min-width: 768px) {
  #about .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }
  #about .about-content .about-description {
    display: inline-block;
    order: 1;
    flex-basis: 50%;
    line-height: 30px;
    margin: 0 20px;
  }
  #about .about-content .about-img {
    width: 38%;
    order: 0;
  }
  #about .social-media {
    order: 3;
  }
  #about .social-media .btn {
    margin-top: 20px;
    border: 1px solid #fff;
  }
  #about .social-media .btn a {
    color: #fff;
    text-decoration: none;
  }
  #about .social-media .linkedin {
    background-image: linear-gradient(60deg, #2793ff, #3e52b7);
    filter: drop-shadow(#3e52b7 0px 0px 8px);
  }
  #about .social-media .instagram {
    background-image: linear-gradient(60deg, #8a3ab9, #bc2a8d, #fccc63);
    filter: drop-shadow(#bc2a8d 0px 0px 8px);
  }
  #about .social-media .instagram::after {
    left: -120px;
  }
  #about .social-media .instagram:hover::after {
    left: 100px;
  }
  #about .social-media .facebook {
    background-image: linear-gradient(60deg, #2793ff, #3e52b7);
    filter: drop-shadow(#3e52b7 0px 0px 8px);
  }
}
@media all and (min-width: 1024px) {
  #about .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }
  #about .about-content .about-description {
    display: inline-block;
    order: 1;
    flex-basis: 50%;
    line-height: 30px;
    margin: 0 20px;
  }
  #about .about-content .about-img {
    width: 25%;
    order: 0;
  }
}
#offers {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #e2eaf3;
  position: relative;
  z-index: 1;
  text-align: center;
}
#offers .offers-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: "Playfair Display", serif;
  color: #588ABD;
  font-size: 20px;
  border: 2px solid #588ABD;
  padding: 10px;
  width: 100px;
  position: relative;
  margin: 20px 30px;
  margin-bottom: 30px;
}
#offers .offers-heading::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #588ABD;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}
#offers .offers-heading:hover {
  cursor: pointer;
}
#offers .offers-heading:hover::after {
  top: 5px;
  left: 5px;
}
#offers .card-container {
  position: relative;
  margin-bottom: 2px;
}
#offers .card-container .offers-img {
  width: 100%;
  transition: all 0.3s;
  position: relative;
  z-index: -1;
}
#offers .card-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(60deg, rgba(88, 138, 189, 0.8), rgba(136, 25, 255, 0.8));
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
  opacity: 0;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
#offers .card-container a:hover {
  opacity: 0.8;
}

@media all and (min-width: 576px) {
  #offers .offers-heading {
    margin-left: 60px;
  }
  #offers .card-container {
    margin-bottom: 10px;
  }
  #offers .card-container a {
    height: 99%;
    font-size: 24px;
  }
}
@media all and (min-width: 1024px) {
  #offers .card-container {
    margin-bottom: 10px;
  }
  #offers .card-container a {
    height: 99%;
  }
}
#opinions {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}
#opinions .opinions-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: "Playfair Display", serif;
  color: #588ABD;
  font-size: 20px;
  border: 2px solid #588ABD;
  padding: 10px;
  width: 100px;
  position: relative;
}
#opinions .opinions-heading::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #588ABD;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}
#opinions .opinions-heading:hover {
  cursor: pointer;
}
#opinions .opinions-heading:hover::after {
  top: 5px;
  left: 5px;
}
#opinions .opinions-card {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.313) 0px 20px 20px;
  text-align: left;
  font-size: 14px;
  padding: 10px;
  margin: 40px 0;
  margin-top: 30px;
  transition: all 0.5s;
}
#opinions .opinions-card:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.489) 0px 30px 20px;
}
#opinions .opinions-card .opinion-username {
  color: #000b16;
  font-size: 16px;
  font-weight: 800;
  font-family: "Playfair Display", serif;
  margin-bottom: 0;
}
#opinions .opinions-card hr {
  text-align: left;
  display: inline-block;
  margin: 0;
  width: 50%;
  height: 1px;
  background-color: #588ABD;
}
#opinions .opinions-card .opinion-content {
  font-family: "Inter", sans-serif;
}

#contact {
  background-image: linear-gradient(60deg, rgba(88, 138, 189, 0.8), rgba(136, 25, 255, 0.8));
}
#contact .contact-container {
  padding-top: 10px;
  padding-bottom: 30px;
}
#contact .contact-container .contact-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: "Playfair Display", serif;
  color: #588ABD;
  font-size: 20px;
  border: 2px solid #588ABD;
  padding: 10px;
  width: 100px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  position: relative;
}
#contact .contact-container .contact-heading::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #588ABD;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}
#contact .contact-container .contact-heading:hover {
  cursor: pointer;
}
#contact .contact-container .contact-heading:hover::after {
  top: 5px;
  left: 5px;
}
#contact .contact-container .contact-heading::after {
  background-color: #fff;
}
#contact .contact-container #contact-form {
  padding-top: 20px;
}
#contact .contact-container #contact-form label {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  color: #fff;
  display: block;
  margin: 5px 0;
  font-weight: 300;
}
#contact .contact-container #contact-form input {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  color: #fff;
  margin-bottom: 15px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  caret-color: #fff;
  width: 98%;
  transition: all 0.1s;
}
#contact .contact-container #contact-form input:focus {
  border-bottom: 2px solid #fff;
}
#contact .contact-container #contact-form textarea {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  width: 98%;
  resize: none;
  outline: none;
  transition: all 0.1s;
}
#contact .contact-container #contact-form textarea:focus {
  border-bottom: 2px solid #fff;
}
#contact .contact-container #contact-form button {
  width: 120px;
  margin-top: 25px;
}

@media all and (min-width: 992px) {
  #contact {
    padding: 0;
    display: flex;
  }
  #contact .contact-container {
    width: 50%;
    padding: 20px 30px;
  }
  #contact .contact-img {
    background-image: url("../resources/contact-image.png");
    background-position: 75% 30%;
    width: 50%;
    height: 500px;
  }
}/*# sourceMappingURL=style.css.map */