//Colors:

$primary-color: #e2eaf3;
$secondary-color: #588ABD;
$primary-font-color: #000b16;
$secondary-font-color: #38414c;

//Sizes:

$extra-small-size: 480px;
$small-size: 576px;
$medium-size: 768px;
$large-size: 992px;
$extra-large-size: 1024px;