#about {
    margin: 40px auto;
    text-align: center;

    .about-heading {
        @include h2;
        position: relative;
    }

    .about-description {
        margin-top: 10px;
        text-align: left;
    }

    .about-img {
        width: 100%;
    }
}