#home {
    height: 100vh;
    background-image: url('../resources/home-page-img.jpg');
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: end;

    .scroll-down {
        width: 100px;
        filter: drop-shadow(#000 0px 0px 4px);

        &:hover {
            cursor: pointer;
        }
    }
}