#header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgb(0, 0, 0) 0px 0px 60px;
    z-index: 1000;

    .navigation-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        .logo-container {
            display: flex;
            justify-content: start;
            align-items: center;

            .logo {
                width: 80px;
                height: 80px;
                margin-left: -15px;
            }

            .logo-description {
                color: $primary-font-color;
                font-family: $primary-font;
                font-weight: 700;
            }
        }

        .nav-container {
            display: flex;
            justify-content: end;

            .hamburger-menu {
                margin-left: 15px;
                font-size: 30px;
                color: $secondary-color;
                position: relative;
                z-index: 10;

                &:hover {
                    cursor: pointer;
                }
            }

            .color-change {
                color: #fff;
            }

            .navigation {

                .nav-list {
                    display: none;
                    position: fixed;
                    text-align: right;
                    top: 0;
                    right: 0;
                    list-style: none;
                    margin: 0;
                    padding: 50px;
                    padding-top: 80px;
                    padding-bottom: 30px;
                    padding-right: 30px;
                    background-image: linear-gradient(transparent, $secondary-color 70%, transparent);
                    z-index: 0;

                    .nav-item {
                        line-height: 30px;

                        a {
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 14px;
                            font-family: $secondary-font;
                            font-weight: 500;
                            color: #fff;
                            transition: all 0.5s;

                            &:hover {
                                cursor: pointer;
                                font-weight: 700;
                                text-shadow: #fff 0px 0px 12px;
                            }
                        }
                    }
                }

                .unfolded-menu {
                    display: block;
                }
            }
        }
    }
}

@media all and (min-width: $small-size) {
    #header {
        padding: 0 30px;

        .navigation-container {

            .nav-container {

                .navigation {

                    .nav-list {
                        padding-right: 60px;
                    }
                }
            }
        }
    }
}

@media all and (min-width: $large-size) {
    #header {
        
        .navigation-container {

            .nav-container {

                .hamburger-menu {
                    display: none;
                }

                .navigation {

                    .nav-list {
                        display: block;
                        position: fixed;
                        padding-right: 30px;
                        padding-top: 25px;
                        background-image: none;


                        .nav-item {
                            display: inline-block;
                            margin: 0 20px;
                            line-height: 30px;

                            a {
                                font-family: $primary-font;
                                font-weight: 700;
                                color: $primary-font-color;
                                transition: all 0.5s;
                                position: relative;

                                &::after {
                                    content: '';
                                    width: 60%;
                                    height: 1px;
                                    background-color: $primary-font-color;
                                    position: relative;
                                    display: block;
                                    opacity: 0;
                                    left: -10px;
                                    transition: all 0.3s;
                                }

                                &:hover {
                                    cursor: pointer;
                                    
                                    &::after {
                                        opacity: 1;
                                        left: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}