#header {

    .navigation-container {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;

        .logo {
            width: 80px;
            height: 80px;
            margin-left: -15px;
        }

        .hamburger-menu {
            margin-top: 30px;
        }

        .navigation {

            .nav-list {
                position: fixed;
                text-align: center;
                top: 0;
                right: 0;
                list-style: none;
                margin: 0;
                padding: 50px;
                padding-top: 70px;
                padding-bottom: 30px;
                background-color: $secondary-color;

                .nav-item {
                    line-height: 30px;

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-family: $secondary-font;
                        font-weight: 500;
                        color: #fff;
                        transition: all 0.5s;

                        &:hover {
                            cursor: pointer;
                            font-weight: 700;
                            text-shadow: #fff 0px 0px 12px;
                        }
                    }
                }
            }
        }
    }
}